$body-bg: #fafafc;

$header-font-family: "Shadows Into Light Two", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-color: #333;

$body-font-family: Asap, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-color: #333;

$code-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
$code-font-weight: normal;

$small-font-size: 80%;

$topbar-bg: #2c3e50;
$topbar-dropdown-bg: #34495e;

$primary-color: #3498DB;
$global-radius: 0;

$button-border-width: 0;
$button-margin-bottom: 0.2em;
$shiny-edge-size: 0;
$shiny-edge-color: transparent;
