// Dependencies ==============================================================

@import "foundation";




// Fonts =====================================================================

@import url("//fonts.googleapis.com/css?family=Asap:400,700");
@import url("//f.fontdeck.com/s/css/iJFpt+/SjdP+SMIzrI3wni4/vsc/servus.io/30421.css");



// Mixins ====================================================================

@mixin box-shadow($shdw1) {
  -moz-box-shadow: $shdw1;
  -o-box-shadow: $shdw1;
  -webkit-box-shadow: $shdw1;
  box-shadow: $shdw1;
}




// Site styles ===============================================================

pre, code {
  background-color: #eee;
  font-size: 0.9em;
  padding: 2px;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &.focusable {
    &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

.display-font {
  font-family: "Joyful Juliana Pro Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-color: #333;
  line-height: 1em;
}

h1.display-font { @extend .display-font; font-size: 3.44em; }
h2.display-font { @extend .display-font; font-size: 2.89em; }
h3.display-font { @extend .display-font; font-size: 2.11em; }
h4.display-font { @extend .display-font; font-size: 1.8em; }
h5.display-font { @extend .display-font; font-size: 1.4em; }
h6.display-font { @extend .display-font; font-size: 1.25em; }




// Navigation / Top bar ======================================================

#main-nav {
  // Make the text recessed a wee bit.
  text-shadow: 0px -1px 1px rgba( 0, 0, 0, 0.25 );

  // Overwrite the background; the original background is applied to the %div.
  background: url(/img/shadow-top-bar.png) center 45px no-repeat;
  padding-bottom: 32px;

  &>div {
    background: $topbar-bg;
  }

  ul.dropdown {
    @include box-shadow( 0 5px 10px rgba( 0, 0, 0, 0.25 ) );
  }

  // Without this, the site name will be cropped on smaller screens.
  .title-area {
    white-space: nowrap;
  }

  // Fixing the "back" link style on smaller screens.
  .top-bar-section {
    h5 {
      font-family: $body-font-family;
      font-size: 1.25em;
      line-height: inherit;
    }
  }
}




// Content ===================================================================

#content-column {
  padding-top: 5em;
  text-shadow: 1px 1px 1px rgba( 255, 255, 255, 1 );

  a:hover {
    text-decoration: underline;
  }

  #callout-buttons {
    margin: 1em auto 1.5em auto;
    padding-bottom: 0;

    small {
      color: #888;
      display: block;
      margin: 0.5em 0;
      text-shadow: 1px 1px 1px rgba( 255, 255, 255, 1 );
    }

    .button-download {
      @include button-style($bg:$success-color);
    }

    .button-buy {
      @include button-style($bg:#3498db);
    }
  }
}

.button {
  @include box-shadow( 0 2px 5px rgba( 50, 50, 50, 0.45 ) );
  text-decoration: none !important;
  text-shadow: 0 -1px 1px rgba( 0, 0, 0, 0.33 );
}

input.button,
button.button {
  &.small {
    padding-bottom: 0.75em;
    padding-top: 0.75em;
  }
}


// Frontpage -----------------------------------------------------------------

.faq-marker {
  display: inline-block;
  font-size: 0.95em;
  font-weight: bold;
}


// FAQ -----------------------------------------------------------------------

.page-frontpage {
  h2.display-font {
    font-size: 3.44em;
  }
}


.page-faq {
  section {
    padding-top: 3.5em;

    h3 {
      font-size: $h4-font-size;
    }
  }
}



// Footer ====================================================================

#microdata {
  color: #fff;
  display: inline-block;
  font-size: emCalc(1px);
  margin: 20px;

  span {
    display: block;
  }
}

p#imprint {
  color: #666;
  font-size: 9px;
  text-align: center;
}

