// Dependencies

@import "foundation";

@import url("//fonts.googleapis.com/css?family=Asap:400,700");
@import url("//f.fontdeck.com/s/css/iJFpt+/SjdP+SMIzrI3wni4/vsc/servus.io/30421.css");

// Mixins

@mixin box-shadow($shdw1) {
  -moz-box-shadow: $shdw1;
  -o-box-shadow: $shdw1;
  -webkit-box-shadow: $shdw1;
  box-shadow: $shdw1;
}


// Site styles

pre, code {
  background-color: #eee;
  font-size: emCalc(14px);
  padding: 2px;
}

#main-nav {
  // Overwrite the background; the original background is applied to the %div.
  background: url(/img/shadow-top-bar.png) center 45px no-repeat;
  padding-bottom: 32px;

  &>div {
    background: $topbar-bg;
  }

  ul.dropdown {
    @include box-shadow( 0 5px 10px rgba( 0, 0, 0, 0.25 ) );
  }
}

#content-column {
  padding-top: 5em;

  a {
    text-decoration: underline;
  }

  #callout-buttons {
    margin: 1em auto;

    small {
      color: #888;
      text-shadow: 1px 1px 1px rgba( 255, 255, 255, 1 );
    }

    ul {
      margin-bottom: 0;

      li {
        padding-bottom: 0;
      }
    }

    .button-download {
      @include button-style($bg:#27ae60);
    }

    .button-buy {
      @include button-style($bg:#3498db);
    }
  }
}

.button {
  @include box-shadow( 0 2px 5px rgba( 50, 50, 50, 0.45 ) );
  text-decoration: none !important;
  text-shadow: 0 -1px 1px rgba( 0, 0, 0, 0.33 );
}

.back-to-top {
  float: right;
  font-weight: bold;
}

.screenshot {
  float: right;
  margin: 0 0 12px 12px;
}


p#imprint {
  color: #666;
  font-size: 9px;
  text-align: center;
}

.github-fork-ribbon-wrapper {
  position: fixed;
  top: 45px;
}

#microdata,
#drop-img {
  color: #fff;
  font-size: 1px;
  margin: 30px;
  text-align: center;

  span {
    display: block;
  }
}
