- @page_title = "Frequently Asked Questions"

.page-faq
  .row
    .large-8.large-centered.columns
      %h2
        Frequently Asked Questions

      #toc.panel

      %section#q-filesize
        %h3
          What is the maximum file size for the things I can share with Servus?

        %p
          The size of the files you share is only restricted by the size of
          your Dropbox account.  If your account has 1.5GB free space left,
          then that's your upper file size limit.


      %section#q-mas
        %h3
          Can I buy Servus on the Mac App Store?

        %p
          Short answer: Not at the moment.  Maybe in the future; I won't
          rule it out.

        %p
          Long answer: during the development of Servus I've submitted the
          app to the Mac App Store with the plan of selling it there.  The
          review process was a) not very transparent and b) taking way too
          long for my taste.  During the third round of review submissions
          I kind of lost interest in potentially going through all that
          hassle for every single update I would post in the future.

        %p
          It might return at some point down the road, it's entirely
          possible.


      %section#q-license-terms
        %h3
          What are the license terms?

        %p
          Each license is valid for all Macs the license holder personally
          owns and is the primary user of.  If you yourself have three Macs,
          one license is enough.  If you have two Macs and your spouse has
          one, and you both want to use Servus, you'll need two licenses.

        %p
          If you have a company and technically "own" 500 Macs, I'd
          appreciate it if you would buy more than just one license, tho.
          ;)


      %section#q-wot
        %h3
          I don't understand what this app does.  Why do you suck at
          explaining?

        %p
          It's a congenital thing.  Anyways:

        %ol
          %li
            You have a file, you'd like to send that file to someone, but
            you want to have that file embedded in some sort of preview page.
          %li
            You drop the file on Servus' menubar icon.
          %li
            Servus uploads your file to your Dropbox account.
          %li
            Servus builds a preview page for your file and uploads that, too.
          %li
            The link to the preview page is copied to your clipboard.

        %p
          Step 4 will either use Servus' built-in preview page theme, or you
          can use your own templates for that.
        %p
          Does that help?  :)


      %section#q-scripting
        %h3
          Does Servus have scripting support?

        %p
          Yes!
          %a{ :href => "/api.html" } Look here.


      %section#q-modifiers-drop
        %h3
          I want the app to automatically copy the direct link to my file to
          the clipboard instead of the link to the preview page.

        %p
          No problem!  There's a setting in the Preferences for that.  Also,
          you may just hold
          %kbd Shift
          while dropping the file on Servus' menubar icon.


      %section#q-modifiers-menu
        %h3
          The submenus for my uploaded files only let me copy the links to the
          preview page, what's up with that?

        %p
          While the menu is open, hold down the
          %kbd Option
          \/
          %kbd ⌥
          key — and all menu options will use the direct URL.


      %section#q-theme-docs
        %h3
          Where can I find documentation on how to create my own preview
          page themes?

        %p
          %a{ :href => "/theme-docs.html" } Look here.


      %section#q-theme-selling
        %h3
          I've created a custom theme for Servus, and it's great.  May I
          sell it?

        %p
          Yes, please!  Servus needs nice themes… lots of them!  Let me
          know if you created one.


      %section#q-selling-pointers
        %h3
          I'd like to sell my custom themes, but I have no idea how.  Any
          pointers?

        %p
          I've heard good things about
          %a{ :href => "https://creativemarket.com/" } Creative Market
          and had good experiences with
          %a{ :href => "https://gumroad.com/" } Gumroad.
          Both are super-simple to set up, you don't have to pay anything up
          front (they work on a commission basis), and they keep the scary
          payment stuff away from you.  And no, I don't get any kickbacks
          for telling you.  :)

        %p
          Just make sure to give me a shout when you're up and running,
          please!


      %section#q-bug-dropping
        %h3
          The menubar icon doesn't accept my dropped files, nothing happens.
          What is wrong?

        %p
          Apologies: you've come across a somewhat elusive bug that occurs
          only for some people — they have to click the menubar icon before
          it accepts drops again.  I'm aware of the issue but have a really
          hard time reproducing it.  I'm working on it!

        %p
          Try clicking the menubar icon once (or restarting the app), and
          then try again, that usually does the trick.


      %section#q-tracking
        %h3
          Do you track what I am sharing?

        %p
          No.  Mostly because a) what you upload is your own business and
          b) I really don't care.


      %section#q-dropbox-path
        %h3
          Where are my uploads/shares stored?

        %p
          In your Dropbox, in folder
          %code Apps/Servus for Mac/
          \.


      %section#q-logs
        %h3
          Where are Servus' log files stored?

        %p
          In
          %code ~/Library/Logs/de.municode.Servus/
          \.

      %section#q-who
        %h3
          Who are you?

        %p
          %a{ :href => "http://carlo.zottmann.org/me/" }
            My name's Carlo Zottmann,
          I'm a freelance software developer from
          Munich, Germany.  These days I'm mostly working with Javascript,
          Objective-C and Ruby.
          %a{ :href => "http://municode.de" } I'm available for hire.


      %section#q-contact
        %h3
          My Q wasn't A'ed here, who can I ask?

        %p
          No worries!  Just send me
          %a{ :href => "mailto:carlo@servus.io" } an email
          or
          %a{ :href => "/twitter" } find me on Twitter
          or
          %a{ :href => "/+" } on Google+.
