#content-column.row
  .seven.columns.centered
    %h1
      %small This is
      Servus. For Mac & Dropbox.

    %p
      %img{ :src => "img/screenshot-menubar.jpg", :title => "Screenshot Menubar" }

    %p
      %strong
        It can turn any file on your computer into a branded download page
        hosted on Dropbox.

    %p
      %span
        It's a menubar icon.  If you drop a file on it, it'll build a nice
        %strong preview page
        around it, upload both to
        %strong your Dropbox,
        then copy the public preview link to your clipboard.  If you drop a
        folder on it, the folder will be zipped up before uploading.

    %p
      %strong I created it because
      I'm a freelancer and often need to send files to clients.  I feel
      having
      %strong my own branded preview page
      makes for a more professional appearance.

    %p<
      %a{ :href => "https://dl.dropbox.com/s/vqlos2avs6fp6x8/index.html" }
        %img.screenshot{ :src => "img/screenshot_example.png", :width => 200, :height => 147, :alt => "Screenshot preview page" }
      Servus comes with a
      %a{ :href => "https://dl.dropbox.com/s/vqlos2avs6fp6x8/index.html" }
        clean built-in preview page theme
      but you can use your own
      %strong custom themes.
      (Here's
      %a{ :href => "http://documentup.com/carlo/servus-theme-boilerplate" } a theme boilerplate kit with documentation
      to get you started.)
      %br{ :style => "clear: both"}

    %p
      The
      %strong maximum size
      of the files you share is only restricted by the size of your
      Dropbox account.  If your account has 1.5GB free space left, then
      that's your upper file size limit.

    %p
      Servus
      requires
      %strong OS X 10.6.8 or higher
      on 64 bit
      %small (i.e., any Mac built since 2007 should do).
      You'll need a
      %a{ :href => "http://db.tt/T84kkEv" } Dropbox account,
      too.

    %ul.block-grid.two-up.app-link
      %li
        %a.download.button.radius.success.large{ :href => "/download" }
          %i.icon-download-alt
          Download Servus
        %br
        %small
          Try Servus for free for 2 weeks!

      %li
        %a.buy.button.radius.success.large{ :href => "/buy" }
          %i.icon-shopping-cart
          Buy Servus
        %br
        %small
          €8 / $10 / £6.50

    %hr

    %p
      If you want to be informed of what's going on with Servus,
      %a{ :href => "/twitter" }
        follow @servusio on Twitter
      or
      %a{ :href => "http://blog.servus.io/" }
        read the Servus blog
      or sign up for the Servus Updates newsletter:

    %form{ :action => "https://tinyletter.com/servusio", :method => "post", :onsubmit => "window.open('https://tinyletter.com/servusio', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true", :target => "popupwindow" }
      %input{ :name => "embed", :type => "hidden", :value => "1" }

      .row
        .four.mobile-one.columns
          %label.right.inline{ :for => "tlemail" } Your email address
        .eight.mobile-three.columns
          %input#tlemail{ :name => "email", :placeholder => "you@example.com", :type => "email" }

        .eight.mobile-three.columns
          %input.small.secondary.button{ :type => "submit", :value => "Subscribe" }

    %p
      If you need to contact me, Carlo Zottmann, feel free to send me
      %a{ :href => "mailto:carlo@servus.io" } an email.

    %hr

    #microdata{ :itemscope => "", :itemtype => "http://schema.org/Product" }
      %span{ :itemprop => "name" } Servus for Mac
      %img{ :itemprop => "image", :src => "img/app-icon.png", :alt => "Servus icon" }
      %a{ :itemprop => "url", :href => "https://servus.io" } Servus for Mac
      %span{ :itemprop => "description" }
        A Dropbox-powered sharing app for Mac. It's a menubar icon. Drop a
        file on it, and it'll build a preview page for it (custom themes!),
        upload it to your Dropbox, and copy the link for you.

    %p#imprint
      %strong Imprint:
      %a{ :href => "http://municode.de" } Carlo Zottmann,
      Zeisigweg 30, 81827 München, Germany
      \ &middot; carlo@servus.io
      \ &middot; USt-ID: DE260224054
      %br
      Background pattern is "Light Wool" from
      %a{ :href => "http://subtlepatterns.com/" } Subtle Patterns.
