.page-frontpage
  .row
    .large-5.columns
      %h2.hide-for-small
        %small This is
        Servus.
        %br
        %small For
        Mac & Dropbox.

      %p
        It can turn any file on your computer into a branded download page
        hosted on Dropbox.

      %p#claim
        %strong
          Add some
          %span.adjective{ :"data-words" => "personal touch,style,professional touch,sparkle,framing,love,\"awww yeah\",context,of dat sweet online bling,brand reminders,meaning,pzazz" } personal touch
          %br
          to the files you share with your
          %span.target-demographic{ :"data-words" => "customers,friends,clients,readers,employees,fans,business partners,audience,homies,followers" } customers.


    .large-7.columns
      .flex-video
        %video#intro45s{ :controls => "", :height => "415", :poster => "/img/video-poster.jpg", :preload => "none", :width => "553", :title => "Servus for Mac in a nutshell" }
          %source{ :src => "//assets2.servus.io/Servus-for-Mac-in-a-nutshell.mp4", :type => "video/mp4" }
          %source{ :src => "//assets2.servus.io/Servus-for-Mac-in-a-nutshell.webm", :type => "video/webm" }
          %p
            Try this page in a HTML5 enabled browser! Or you can
            %a{ :href => "http://youtu.be/j4e5bAeRw0E" } watch the video at Youtube
            instead.


  .row.panel#callout-buttons
    .small-12.large-6.columns
      %p.text-center
        %a.button-download.large.button{ :href => "/download" }
          %i.icon-download-alt
          Download Servus
        %small
          Try Servus for free for 2 weeks!

    .small-12.large-6.columns
      %p.text-center
        %a.button-buy.large.button{ :href => "/buy" }
          %i.icon-shopping-cart
          Buy Servus
        %small
          €8 / $10 / £6.50


  .row
    .large-4.columns
      %h3
        %i.icon-info-sign
        What it is

      %p
        It's a menubar icon.  Drop a file onto it, and the file will be
        embedded in a nice
        %strong preview page,
        then both are uploaded to
        %strong your Dropbox.
        Once done, the link is copied to your clipboard.

      %p
        Servus comes with a
        clean built-in preview page theme
        %a{ :href => "https://dl.dropbox.com/s/vqlos2avs6fp6x8/index.html", :target => "_blank" } (click for an example)
        but you can
        %strong create your own custom themes,
        too.


    .large-4.columns
      %h3
        %i.icon-lightbulb
        Why it exists

      %p
        I created Servus because I'm a freelancer.  Quite often I need to send
        files to my clients.  I feel that embedding those files in
        %strong a preview page of my own brand
        makes for a more professional appearance.


    .large-4.columns
      %h3
        %i.icon-user
        Who it is for
      %p
        Freelancers, agencies, anyone working with clients & customers online,
        PR people, artists, musicians, street-smart hustlers tryin' to impress
        their homies with some of dat sweet online bling.

      %p
        Anyone with a Mac running
        %strong OS&nbsp;X 10.6.8 or higher
        on 64 bit
        %small (i.e., any Mac built since 2007),
        and a free or paid
        %a{ :href => "http://db.tt/T84kkEv" } Dropbox account.

  .row
    .large-12.columns
      %hr

  .row
    .large-6.large-centered.columns
      %h3
        %i.icon-comments
        Why hello there

      %p
        Do you have questions, suggestions, anything else?  Send me
        %a{ :href => "mailto:carlo@servus.io" } an email
        or look me up
        %a{ :href => "/twitter" } on Twitter (@servusio)
        or
        %a{ :href => "/+" } on Google+.
        I don't bite, so don't be shy. :)

      %p
        And if you want to stay informed about what's going on with Servus,
        %a{ :href => "http://blog.servus.io/" } check out the Servus blog
        or subscribe to the Servus Updates newsletter.
        No spam, no
        %strike "exciting news from our partners"
        marketing bullshit
        — I promise.

      %form#tl-subscribe{ :action => "https://tinyletter.com/servusio", :method => "post", :target => "tl-window" }
        %input{ :name => "embed", :type => "hidden", :value => "1" }

        .row.collapse
          .small-1.columns
            %span.prefix
              %i.icon-envelope-alt
          .small-8.columns
            %label.visuallyhidden{ :for => "tl-email" } Your email address
            %input#tl-email{ :name => "email", :placeholder => "you@example.com", :type => "email" }
          .small-3.columns
            %input.small.success.button.prefix{ :type => "submit", :value => "Subscribe" }
